@import "fonts.css";

body {
  font: 14px/24px Galaxie;
}

a {
  text-decoration: none;
}

/*************** NAV STYLES ***************/

.huge-logo {
  display: none;
}

.menu-trigger {
  display: block;
  background: #ec008c url('../images/toggle-open.svg') no-repeat;
  height: 60px;
  cursor: pointer;
}

#menu-trigger {
  display: none;
}

#menu-trigger:checked ~ header .menu {
  left: 0;
}

#menu-trigger:checked ~ .content {
  left: calc(100% - 72px);
}

.menu {
  position: absolute;
  top: 60px;
  width: calc(100% - 72px);
  left: -800px;
  bottom: 0;
  background: #fff;
  z-index: 1;
  transition: all .3s ease-in-out;
}

nav ul li {
  display: block;
  background: #fff;
  position: relative;
}
nav ul li.has-sub-menu:after {
  position: absolute;
  display: block;
  content: '';
  background: url('../images/chevron.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 12px;
  transition: transform .2s linear;
}

nav ul li.has-sub-menu:hover:after {
  transform: rotate(-180deg);
}

nav ul li a {
  display: block;
  color: #000;
  padding: 0 24px;
  font: 21px/48px HUGEAvantGardeBold;
}

nav ul li:hover > a {
  background: #eee;
}

nav > ul > li:first-child a {
  margin-top: 12px;
}

nav ul ul {
  display: none;
  margin: 0;
  position: static;
}

nav ul ul a {
  font: 16px/48px Galaxie;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul li:hover a {
  color: #ec008c;
  background: #eee;
}



/*************** SECTION STYLES ***************/

.content {
  width: 100%;
  position: absolute;
  left: 0;
  transition: all .3s ease-in-out;
}

article section {
  position: relative;
}

section header {
  position: relative;
}

section header img {
  max-width: 100%;
}

section h1 {
  position: static;
  margin: 50px 24px;
  text-align: left;
  font: 44px/48px HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  color: #000;
}

.container {
  margin: 0 24px;
}
